# Exemple de configuration Azure
AZURE_CLIENT_ID=your-azure-client-id
AZURE_CLIENT_SECRET=your-azure-client-secret
AZURE_TENANT_ID=your-azure-tenant-id

# Exemple de configuration Github
GITHUB_CLIENT_SECRET=your-github-client-secret

# Exemple de configuration Supabase
SUPABASE_SECRET=your-supabase-secret
